# IDE-Specific Files (VS & Rider)
.vs
.idea/
*.sln.docstates

# Core .NET Artifacts
**/bin/
**/obj/
*.user
*.suo
*.pdb
*.cache

# Build & Publish Residue
*.log
*.vspscc
*.vssscc
*.dbmdl
*.publishsettings